@model CtrlPonto.Models.Trabalho
@using PagedList;
@using PagedList.Mvc;
@using CtrlPonto.Models;
@{
    ViewBag.Title = "Trabalho";
    Layout = "~/views/Shared/_Layout.cshtml";
    IPagedList<Trabalho> Trabalhos = ViewBag.Trabalhos;
}

<br />

<div class="container">

    <div class="row">
        <div class="col-md-10">
            <div class="row">
                <div class="col-xl-5 col-lg-5">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Horas Trabalhadas</h5>
                                    <span class="h2 font-weight-bold mb-0 text-primary mr-2">@(ViewBag.Horas)</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-5 col-lg-5">
                    <div class="card card-stats mb-4 mb-xl-0">
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Saldo de Horas</h5>
                                    <span class="h2 font-weight-bold mb-0  mr-2 @(ViewBag.Saldo.TotalHours >= 0 ? "text-success": "text-danger")">@ViewBag.SaldoFormatado</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                                        <i class="fas fa-chart-bar"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-2">   
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Novo Dia
            </button>
        </div>
    </div>

    <br /><br /><br />

    <table class="table table-condensed table-striped">
        <thead>
            <tr>
                <th scope="col">@Html.ActionLink("Dia", "Index", new { sortOrder = "Dia", pagina = @Trabalhos.PageNumber })</th>
                <th class="text-center">@Html.ActionLink("Jornada", "Index", new { sortOrder = "Jornada", pagina = @Trabalhos.PageNumber })</th>
                <th class="text-center">@Html.ActionLink("Saldo", "Index", new { sortOrder = "Saldo", pagina = @Trabalhos.PageNumber })</th>
                <th scope="col">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CtrlPonto.Models.Trabalho trabalho in @Trabalhos.ToList())
            {
                <tr>
                    <th>@trabalho.Data.ToString("dd/MM/yyyy")</th>
                    <td class="text-center">@trabalho.Jornada.ToString(@"hh\:mm")</td>
                    <td class="text-center @(trabalho.Saldo.TotalHours >= 0 ? "text-success": "text-danger")">@(trabalho.Saldo.TotalHours >= 0 ? "" : "-") @trabalho.Saldo.ToString(@"hh\:mm")</td>
                    <td class="text-right">
                        <button class="btn btn-xs btn-danger" type="button" onclick="MensagemConfirma('Ateção', 'Deseja apagar o dia de trabalho @trabalho.Data.ToString("MM/dd/yyyy")?', '@Url.Action("ApagarTrabalho", "Trabalho", new { id = trabalho.Id })')">Excluir</button>
                        <a class="btn btn-xs btn-success" type="button" href="@Url.Action("DetalheTrabalho", "Trabalho", new { id = trabalho.Id })">Detalhes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br />

    Pagina @Trabalhos.PageNumber de @Trabalhos.PageCount
    @Html.PagedListPager(@Trabalhos, page => Url.Action("Index", new { pagina = page }))

    <br /><br /><br />

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Novo dia de Trabalho</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                @using (Html.BeginForm("Index", "Trabalho", null, FormMethod.Post, new { Class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)
                    <div class="container-fluid">
                        <div class="container">
                            <div class="modal-body">
                                <fieldset>
                                    <legend align="center">Trabalho do dia</legend>
                                    <br />
                                    <div class="row" style="margin-left: 50px;">
                                        <div class="col-sm-12">
                                            <div class="row" hidden>
                                                <div class="col-md-12">
                                                    @Html.TextBoxFor(model => model.Id, new { Class = "ponto form-control input-sm" })
                                                </div>
                                            </div>

                                            <div class="row">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => Model.Data, new { Class = "text-left" })
                                                    @Html.TextBoxFor(model => Model.Data, new { Class = "date form-control input-sm" })
                                                    @Html.ValidationMessageFor(model => model.Data, "", new { Class = "text-danger" })
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="col-md-12">
                                                    @Html.LabelFor(model => Model.Jornada, new { Class = "text-left" })
                                                    @Html.TextBoxFor(model => Model.Jornada, new { Class = "ponto form-control input-sm" })
                                                    @Html.ValidationMessageFor(model => model.Jornada, "", new { Class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-primary">Salvar</button>
                    </div>
                }
            </div>
        </div>
    </div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Mascaras")
}
